<!DOCTYPE html>
<html>
<head>
	<title>Search Results</title>
</head>
<body>
<h1> Search Results: </h1>

<ul>
	<% if @find_students %>
	  <% @find_students.each do |student| %>
	    <li><%= student['name'] %>, <%= student['age'] %>, <%= student['campus'] %></li>
	  <% end %>
	<% end %>
</ul>

</body>
</html>